## Overview

This Jupyter notebook makes it easy to :

1. Get the dataset and column metadata programmatically
2. Load CSV files automatically into a pandas dataframe so you can do the fun explorations

# Setup
1. Paste the dataset ID you copied into the cell below
2. Run All Cells

In [ ]:
DATASET_ID = "INSERT_DATASET_ID_HERE" # e.g. "d_69b3380ad7e51aff3a7dcc84eba52b8a"

## Dataset and Column Metadata

In [2]:
import json
import requests

base_url = "https://api-production.data.gov.sg"
url = base_url + f"/v2/public/api/datasets/{DATASET_ID}/metadata"
print(url)
response = requests.get(url)
data = response.json()['data']
columnMetadata = data.pop('columnMetadata', None)

print("Dataset Metadata:")
print(json.dumps(data, indent=2))

print("\nColumns:\n", list(columnMetadata['map'].values()))

https://api-production.data.gov.sg/v2/public/api/datasets/d_69b3380ad7e51aff3a7dcc84eba52b8a/metadata
Dataset Metadata:
{
  "datasetId": "d_69b3380ad7e51aff3a7dcc84eba52b8a",
  "createdAt": "2024-07-24T16:58:00+08:00",
  "name": "COE Bidding Results / Prices",
  "collectionIds": [],
  "description": "COE bidding and prices results for each bidding exercise.\nCategory A\n- For COEs obtained before the May 2022 1st COE bidding exercise: Car with engine capacity up to 1,600cc and Maximum Power Output up to 97kW (130bhp)\n- For COEs obtained from the May 2022 1st COE bidding exercise onwards:\n- Non-fully electric cars with engines up to 1,600cc and Maximum Power Output up to 97kW (130bhp); and fully electric cars with Maximum Power Output up to 110kW (147bhp)\nCategory B\n- For COEs obtained before the May 2022 1st COE bidding exercise:\n- Car with engine capacity above 1,600cc or Maximum Power Output above 97kW (130bhp)\n- For COEs obtained from the May 2022 1st COE bidding exercise onwards:\n- Non-fully electric cars with engines above 1,600cc or Maximum Power Output above 97kW (130bhp); and fully electric cars with Maximum Power Output above 110kW (147bhp)\n\nCategory C*\n- Goods vehicle and bus\n\\n\n\nCategory D\n- Motorcycle\n\n\nCategory E*\n- Open \u2013 all except motorcycle\n\n\n*You can only transfer COEs in Categories C and E once if you bid for them as an individual. If your bid is under a company, business or organisation, the COEs cannot be transferred. COEs in Categories A, B and D cannot be transferred.\n\n\nFor more information: https://onemotoring.lta.gov.sg/content/onemotoring/home/buying/upfront-vehicle-costs/certificate-of-entitlement--coe-.html#:~:text=All%20vehicles%20in%20Singapore%20require,the%20road%20for%2010%20years.",
  "format": "CSV",
  "lastUpdatedAt": "2025-12-03T18:45:25+08:00",
  "managedBy": "Land Transport Authority",
  "coverageStart": "2010-01-01T08:00:00+08:00",
  "coverageEnd": "2025-11-01T08:00:00+08:00",
  "contactEmails": [
    "feedback@data.gov.sg"
  ],
  "datasetSize": 76622
}

Columns:
 ['month', 'bidding_no', 'vehicle_class', 'quota', 'bids_success', 'bids_received', 'premium']

## Download File

In [3]:
# initiate download
initiate_download_response = requests.get(
    f"https://api-open.data.gov.sg/v1/public/api/datasets/{DATASET_ID}/initiate-download",
    headers={"Content-Type":"application/json"},
    json={}
)

print(initiate_download_response.json())

{'code': 0, 'data': {'message': 'Download successfully initiated. Proceed to poll download', 'url': 'https://s3.ap-southeast-1.amazonaws.com/table-downloads-ingest.data.gov.sg/d_69b3380ad7e51aff3a7dcc84eba52b8a/bc089cff69444272a8741daec72d4a267ad4d483b2c554fd0e17c39f5c52a762.csv?AWSAccessKeyId=ASIAU7LWPY2WCMOWFE25&Expires=1765446886&Signature=vYID%2Bx0lvFoS8Vgj3RGZwFz5POU%3D&X-Amzn-Trace-Id=Root%3D1-693a86d5-586db9b95b04455c0cc0104f%3BParent%3D9ccadf2fb0810d92%3BSampled%3D0%3BLineage%3D1%3Ab9934a3d%3A0&response-content-disposition=attachment%3B%20filename%3D%22COEBiddingResultsPrices.csv%22&x-amz-security-token=IQoJb3JpZ2luX2VjECEaDmFwLXNvdXRoZWFzdC0xIkcwRQIgMdTVFmZ%2F3MKsM5nIOIN3jHWD410boB5TRN7EAct1D2YCIQCCBUV%2BuAKvSG7r9JJRV90oRAnohipWApuIgldKmq4pgiqvAwjq%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAQaDDM0MjIzNTI2ODc4MCIMnAFmMdMIX4%2BHxuZNKoMDQFw36t6z7pPfjP2VmHgpmn2Pm%2BhBoudiqV8uDpNVoWPyrxZmUPDLapYOZfnVaB8%2BojHfO7Eak47cEDPxmUcg%2BoY0dEhjTRO83N0AwophOPDWsYJ83t2dTyCsYTo5ygD99g3HT0t1fKEcOB35Brn%2BPUvXsHxssjDNaAb5LGcWMs2aK0aua9Jwu%2FbSq4wzRq1uSxwdnfa9jeqzEVQK6%2FeWuT2fi48ZpfhJOaKJDBebbolBIMWZnsjTnoO3bW84RfZSHFs%2Frz9lWE78QECugGnvtJHYW630GXho%2F7i9%2BHVqmm9vdjWzv5qyDma836ZmbQ5KQHEli7B3ZiPpom2KFyLn7p1Xh6mPM7C1qDE5Fin%2BtNUIfNZHZitINpCJowlKlXGw59qOMVAM3snwwX2aavyK5stXrs3vgz%2Fo6CmAoHCYZGyBMrb9eLRSZh8WHplpZYnCwfVxow0KDu0welfRhTJzdGX9jAs5z2H602SZhNgukSCvwRohTvzU%2FAFGzaduLsIkso7fMO%2BM6skGOp0B3T5GqtEZqLjhzwDe4xZ45rpmBmoIZl%2B6n9BW9EUpMUPWCrkLei9WBz%2BXFVrrtHQAucjZvDREXwaqfoWLEAeSVJqe2Tt%2Fg032rrGMBI9iIDRenzKJf9e7LPOlyRUwqfnOpw71y3s1%2BMCm5rxbiJCuAYxrUXziFXFqT8MCnKCWc8MEBNDhaIf9wNcenh412fb0mB1oPcTzndv%2BsgKIRQ%3D%3D'}, 'errorMsg': ''}

In [4]:
import pandas as pd

response = requests.get(
    f"https://api-open.data.gov.sg/v1/public/api/datasets/{DATASET_ID}/poll-download",
    headers={"Content-Type":"application/json"},
    json={}
)

DOWNLOAD_URL = response.json()['data']['url']
df = pd.read_csv(DOWNLOAD_URL)
df.head()

,month,bidding_no,vehicle_class,quota,bids_success,bids_received,premium
0,2010-01,1,Category A,1152,1145,1342,18502
1,2010-01,1,Category B,687,679,883,19190
2,2010-01,1,Category C,173,173,265,19001
3,2010-01,1,Category D,373,365,509,889
4,2010-01,1,Category E,586,567,1011,19889

In [5]:
df.describe()

        bidding_no        quota        premium
count  1885.000000  1885.000000    1885.000000
mean      1.498674   567.472149   51557.412202
std       0.500131   419.634678   33279.385028
min       1.000000    43.000000     852.000000
25%       1.000000   289.000000   29501.000000
50%       1.000000   441.000000   49751.000000
75%       2.000000   670.000000   73600.000000
max       2.000000  2272.000000  158004.000000